/* G E N E R A L   S T Y L I N G */
*{
    padding: none;
    margin: 0;
}

body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: black;
}

/* - - - - B O D Y   &   M A I N   G R I D - - - - */
.page {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.site-main{
    display: grid;
    grid-template-columns: 300px 1fr;
}

/* - - - - - H E A D E R - - - - - */
.site-header {
    background-color: #dc4c3e;
    color: #ffffff;
    display: grid;
    grid-template-columns: 300px auto;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 0px 10px 0px;
}
/* Header buttons */
.site-header button{
    background: #dc4c3e;
    border: none;
}

/* Aside Bar */
.aside-header {
    display: flex;
    margin-left: 40px;
}

/* Quick Find Style */
.quick-find{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding: 6px 12px;
}

/* Quick Find Input */
.quick-find input{ 
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
}

/* Quick Find Input Placeholder ("Quick Find") */
.quick-find input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

/* Task Counter */
.task-counter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

/* Task Counter Font */
.counter{ 
    font-weight: normal;
    font-size: 14px;
}


/* - - - - - N A V   B A R - - - - - */
.navbar{
    background-color: #fefbf2;
    color: #000000;
}

/* Main container */
.container{
    padding: 50px 25px 25px 25px;

}

/* Container list */
.item-li{
    list-style: none;
}

/* List items and icons*/
.item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
}

/* Hovering over list items */
.item:hover{
    background-color: #f0f0f0;
}

.item:hover .item-label{
    font-weight: bold;
}

/* List item counters */
.item-count{
    color: #7e7d79;
    font-size: 12px;
}

/* - - - - - M A I N   C O N T E N T - - - - - */
.main-content{
    background-color: #ffffff;
}

/* Main title container */
.main-title{
    margin: 50px 0px 25px 50px;
}

/* Title font and size */
.main-title h1{
    font-size: 20px;
    font-weight: bold;
}

/* Task List Container */
.main-tasks{
    margin-left: 25px;
    margin-right: 50px;
}

/* Task List*/
.task-list{
    list-style: circle;
}

/* Task List Items*/
.task{
    margin: 15px 0px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #7e7d79;
}

/* - - - - R E S P O N S I V E 
            B E H A V I O R (Mobile) - - - - - - */
@media (max-width: 480px){
    .navbar{
        display: none;
    }
    
    .site-main{
        grid-template-columns: 1fr;
    }
}